In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

import seaborn as sb

1. Load the dataset to python enviornment

In [4]:
df=pd.read_excel("C:/Users/USER/Desktop/DSA course/iris.xls")

In [5]:
df

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    NaN  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
df.isnull().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [7]:
df.shape

(150, 5)

In [8]:
mean_value1 = df['SL'].mean()
mean_value2 = df['SW'].mean()
mean_value3 = df['PL'].mean()

In [9]:
mean_value1

5.8559440559440565

In [10]:
mean_value2

3.0493055555555566

In [11]:
mean_value3

3.756250000000003

In [12]:
df['SL'].fillna(mean_value1, inplace=True)  
df['SW'].fillna(mean_value2, inplace=True) 
df['PL'].fillna(mean_value3, inplace=True)

In [13]:
df

           SL   SW       PL   PW  Classification
0    5.100000  3.5  1.40000  0.2     Iris-setosa
1    4.900000  3.0  1.40000  0.2     Iris-setosa
2    5.855944  3.2  1.30000  0.2     Iris-setosa
3    4.600000  3.1  1.50000  0.2     Iris-setosa
4    5.000000  3.6  1.40000  0.2     Iris-setosa
..        ...  ...      ...  ...             ...
145  6.700000  3.0  5.20000  2.3  Iris-virginica
146  6.300000  2.5  5.00000  1.9  Iris-virginica
147  6.500000  3.0  3.75625  2.0  Iris-virginica
148  6.200000  3.4  5.40000  2.3  Iris-virginica
149  5.900000  3.0  5.10000  1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
df.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [15]:
to_check = ['SL', 'SW', 'PL','PW','Classification']

In [16]:
for column in to_check:
    unique_types = df[column].dropna().apply(type).unique()
    if len(unique_types) == 1:
        print(f"All values in column '{column}' are of type {unique_types[0].__name__}")
    else:
        print(f"Values in column '{column}' have multiple data types: {', '.join(str(t.__name__) for t in unique_types)}")

All values in column 'SL' are of type float
All values in column 'SW' are of type float
All values in column 'PL' are of type float
All values in column 'PW' are of type float
All values in column 'Classification' are of type str

2. All neccessary pre-processing steps done
3. Applying classification models

 1. applying Logistic regression

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
X=df.drop('Classification',axis=1)

In [21]:
y = df['Classification']

In [22]:
X.shape

(150, 4)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.25)

In [24]:
model = LogisticRegression()

In [25]:
model.fit(X_train, y_train)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [26]:
y_pred = model.predict(X_test)

In [27]:
y_pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa'], dtype=object)

In [29]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9736842105263158

Accuracy is good

2> Pefroming Random forest

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
X = df.drop('Classification', axis=1)
y = df['Classification']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

In [34]:
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [35]:
y_pred = rf_classifier.predict(X_test)

In [36]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

 Model perfeclty predicts the value

3> Applying KNN

In [37]:

from sklearn.neighbors import KNeighborsClassifier

In [38]:
X = df.drop('Classification', axis=1)  
y = df['Classification']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
k = 5  
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [41]:
y_pred = knn.predict(X_test)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [42]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9666666666666667

 KNN model achieved 96 % accuracy

 4> Applying SVM

In [43]:
from sklearn.svm import SVC

In [44]:
X = df.drop('Classification', axis=1)  
y = df['Classification']

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
svm = SVC()
svm.fit(X_train, y_train)

SVC()

In [47]:
y_pred = svm.predict(X_test)

In [48]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

 SVM prediction is highly accurate

 5> Applying decision tree on the dataset

In [49]:
from sklearn.tree import DecisionTreeClassifier

In [50]:
X = df.drop('Classification', axis=1)  
y = df['Classification']

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [53]:
y_pred = decision_tree.predict(X_test)

In [54]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

 Decision tree also gives Very good accuracy

 From the above assignment we infer that the machine learning algorithms Decision tree,SVM & Random forest gave us 100% accuracy

The algorithm KNN gave us 96% accuracy

SVm, DT & RF are capable of handling comple data distribution, caputre non linear relationships etc.